body{
	font-family: 'Roboto', sans-serif;
	background: #999;

}
img{
	vertical-align: bottom;
}

header {
    z-index: 500;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    border-bottom: solid 1px #e8e8e8;
}

 a{
	text-decoration: none;
	color: #666;
}
ul li{
	list-style: none;
}
.wr{
	max-width: 1280px;
    margin: 0 auto;
    background: #fff;
}

.logoAndContacts{
	background: #fff;
	min-height: 90px;
	width: 100%;
	transition: top 1s;
	padding: 0 100px 0 100px;
	border-bottom: solid 1px #e8e8e8;
}
.logoAndContacts div{
	display: inline-block;
}
#registered{
	vertical-align: top;
	font-style: normal;
}
.headerLogo{
	text-align: left;
}
 
.headerContacts{
	text-align: right;
	padding-top: 20px;
	float: right;
}


.headerContacts ul li a{
	border-bottom: dotted 1px;
}

.headerHam:hover{
	cursor: pointer;
}
.navigation{
	background: #fff;	
}
.navigation .nav li{
	margin-top: 10px;
	display: inline-block;
	transition: 0.5s;
}

.navigation .nav li:hover{
	
}

.navigation .nav li a{
	text-decoration: none;
	color:#666;
	font-weight: bold;
	padding: 10px 20px 10px 20px;
	border-right: solid 1px #e8e8e8;
	transition: 0.5s;
}
.navigation .nav li a:hover{
	background: transparent;
	background: #72b13a;
	color:#fff;
}
.navigation .nav li:nth-child(7) a{
	border-right: none;
}

div.products{
	z-index: 500;
	position: relative;
}
.navigation div input{
	display: inline-block;
	border: none;
	border-bottom: solid 1px #e8e8e8;
	outline: none;
} 
.drop{
	display: none;
	margin-top: 15px;
	border: solid 1px #e8e8e8;
	background: #fff;
	z-index: 500;
	position: absolute;
}
.drop .nav li a{
	border: none;
}
::-webkit-input-placeholder{
  text-align:right;
}
.menu ul {
  margin: 0;
  list-style: none;
  padding-left: 20px;
  
}
.open{
  display: block;
}


section{
	max-width: 1280px
}

#slideshow  {
	position: relative;
    padding-top: 0;
    padding-bottom: 0;
}

.textOnSlider{
	z-index: 500;
	max-width: 400px;
	position: absolute;
	top: 100px;
	left: 100px;
	background: transparent;
}

.textOnSlider button{
	color: #fff;
	background: #354343;
	border: none;
	transition: 0.5s;
}
.textOnSlider button:hover{
	color: #354343;

}
.navigationBack{
	margin-top: 100px;
	z-index: 600;
	position: absolute;
	display: none;
	right: 0;
	top: 0;
	transition: 0.5s;
}
.navigationBack ul{
	padding: 0;
}
.navigationBack ul li{
border-bottom: solid 1px #e8e8e8;
}

.owl-dots {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.owl-dot {
    display: inline-block;
    padding: 0 5px;
}

.owl-dot span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #999;
    border-radius: 100%;
    opacity: 0.6;
    transition: background-color .5s;
}

.owl-dot.active span {
    background: #72b13a;
}

#productsContent{
	min-height: 250px;
	padding: 40px 90px 30px 90px;
}

.productsContent1,
.productsContent2{
	padding:25px 200px 15px 25px;
	text-align: left;
	border:  solid 1px #e8e8e8;
	min-height: 162px;
}

.productsContent1 i,
.productsContent2 i{
	font-size: 10px;
}

.productsContent1 img{
	z-index: 500;
	position: absolute;
	bottom: 0;
	right: 40px;
}

.productsContent2 img{
	z-index: 500;
	position: absolute;
	bottom: 0;
	right: 40px;
}
@media screen and (min-width: 1050px) {
	div.headerHam{
		display: none;
	}
	div.navigationBack{
		display: none;
	}
}

@media screen and (max-width: 1050px) {
	.navigation .nav li{
		display: none;
	}
	div.headerContacts{
		display: none;
	}
	ul.nav{
		display: none;
	}
	.logoAndContacts{
		padding-left: 0;
		padding-right: 0;
	}
	.textOnSlider{
		top: 0;
		left: 0;
		max-width: 300px;
	}
	.productsContent2{
		margin-top: 100px;
	}
	div.headerHam{
		display: inline-block;
	}

}
@media screen and (max-width: 650px){
	.productsContent1 img,
	.productsContent2 img{
		display: none;
	}
	.productsContent1,
	.productsContent2{
		padding: 15px 15px 15px 15px;
	}
}
@media screen and (max-width: 520px){
	div.logoText{
		display: none;
	}
	.logoImage{
		margin-top: 20px;
	}
}